# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Projektikohtaiset
downloads/
*.log
*.mp4
*.mp3
*.webm

# Docker
.dockerignore
docker-compose.override.yml

# Tests
.pytest_cache/

# IDE
.vscode/
.idea/
